PORT=3012
DATABASE_URL="postgresql://neondb_owner:npg_secure_pmi2026@ep-solitary-tree-a1b2c3d4.ap-southeast-1.aws.neon.tech/pmione?sslmode=require"
JWT_SECRET="pmione-jwt-secret-dev-change-in-production-64chars"
JWT_EXPIRATION="24h"
NODE_ENV=development
